/* ALL Elements */
* {
    box-sizing: border-box;
}

/* body */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
}

/* header */
header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    background-color: var(--headercolor);
    padding: 12px 8px;
    width: 100%;
}

header #view-score-span:hover {
    cursor: pointer;
    text-decoration: underline;
    color: purple;
}

header #timer-span {
    visibility: hidden;
}

/* main */
main {
    flex-direction: column;
    display: flex;
    align-items: center;
}

main>section {
    min-width: 376px;
    max-width: 600px;
    text-align: center;
}

/* start quiz section */
main #start-quiz {
    visibility: visible;
}

main #start-quiz #start-btn {
    font-size: 125%;
    background-color: purple;
    color: white;
}

/* quiz section */
main #quiz {
    visibility: collapse;
}

main #quiz .answer-btn {
    display: block;
    margin: 12px 8px;
}

/* enter score section */
main #enter-initials {
    visibility: collapse;
}

/* highscores section */
main #highscores {
    visibility: collapse;
}

main #highscores #scores {
    min-height: 25vh;
}